<div class="navbar navbar-default navbar-static-top" role="navigation" style="border:1px solid white; box-shadow:0px 0px 4px 1px grey">
    <div class="container">
        <a class="navbar-brand navbar-logo" href="">Instagram</a>
        <div class="d-inline mx-auto">
            <form class="navbar-form" name="search" role="search" action="/search">
              {% csrf_token %}
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Category" name="searchcategory">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
            </form>
        </div>
        <div class="navbar-expand d-inline" >
            <ul class="nav navbar-nav d-flex" >
                <li class="mx-3 d-block"><a href="{%url 'landingpage'%}" style="text-decoration: none;">Home</a></li>
                <li class="mx-3 d-block"><a href="" style="text-decoration: none;">About</a></li>
                <li class="mx-3 d-block"><a href="" style="text-decoration: none;">Contacts</a></li>
            </ul>
        </div>
        <div class="navbar navbar-nav navbar-right d-inline">
            <div class="d-flex">
                <div class="nav-item dropdown mx-3" >
                    <a href=""  class="nav-link dropdown-toggle user-action" data-bs-toggle="dropdown">
                        <img src="" class="avatar" alt="Avatar">
                        <h5 class="d-inline">{{ username }} </h5>
                        <!-- <b class="caret"></b> -->
                    </a>
                    <div class="dropdown-menu" style="position:absolute !important;">
                        <a href="" class="dropdown-item">
                            <i class="fa fa-user-o"></i>
                            Profile
                        </a>
                        <a href="" class="dropdown-item">
                            <i class="fa fa-envelope"></i>
                            Messages
                        </a>
                        <div class="divider dropdown-divider"></div>
                        <a href="" class="dropdown-item">
                            <i class="fa fa-sign-out"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>