{% extends "registration/base.html"%}
{%load bootstrap5%}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="vh-100 d-flex align-items-center justify-content-center">
        <div class="row">
            <div card="col-sm-12">
                {% if emaillogin_form.errors %}
                    <p> Password or Username is incorrect </p>
                {% endif %}
                <div class="card p-4">
                    <h1 class="text-center", style="font-family: 'Cookie', cursive; font-size:xx-large !important;">Instagram</h1>
                    <form method="post" action=".">
                        {% csrf_token%}
                        {%bootstrap_form emaillogin_form%}
                        <button class="btn btn-primary my-1" style="width:100%" type="submit" Value="Login">Login</button>
                    </form>
                    <p class="">Don't have an account? <a href="{%url 'emailsignup'%}">Create an account</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}