{% extends "registration/base.html"%}
{%load bootstrap5%}
{% block content %}
<div class="container">
    <div class="vh-100 d-flex align-items-center justify-content-center">
        <div class="row">
            <div card="col-sm-12">
                {%if messages%}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {%endif%}
                <div class="card p-4">
                    <p class="text-muted">Want to log in back again? <a href="{%url 'cloneapp:emaillogin'%}">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}